VITE_APP_NAME=Krolikov
VITE_THEME=dark
VITE_AUDD_API_URL=https://api.audd.io/
VITE_AUDD_API_TOKEN=
VITE_LRCLIB_API_URL=https://lrclib.net/api/
VITE_LASTFM_API_URL=https://ws.audioscrobbler.com/2.0/
VITE_LASTFM_API_KEY=
VITE_GEMINI_API_KEY=
VITE_GEMINI_MODEL=gemini-3.6-flash
